/*----------------------- SECTION ABOUT*/

.about-us {
   display: flex;
   flex-wrap: wrap;
   margin-top: -12px;
   margin-bottom: -12px;
}

.about-us__item {
   width: calc((100% - 24px * 3) / 4);
   margin-right: 24px;
   margin-top: 12px;
   margin-bottom: 12px;
}

.about-us__item:nth-child(4n) {
   margin-right: 0px;
}

.about-us__item:before {
   content: '';
   display: block;
   width: 100%;
   height: 112px;
   border-radius: 4px;
   margin-bottom: 8px;
}

.about-us__item:nth-child(1):before {
   background: var(--cloud-color) url('../../images/about1.svg') no-repeat center center;
}

.about-us__item:nth-child(2):before {
   background: var(--cloud-color) url('../../images/about2.svg') no-repeat center center;
}

.about-us__item:nth-child(3):before {
   background: var(--cloud-color) url('../../images/about3.svg') no-repeat center center;
}

.about-us__item:nth-child(4):before {
   background: var(--cloud-color) url('../../images/about4.svg') no-repeat center center;
}

.about-us .subtitle {
   margin-bottom: 8px;
}