/*----------------------- CUSTOMERS*/

.customers {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 1199px) {
    margin: -36px auto;
  }
  @media screen and (max-width: 767px) {
    max-width: 396px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 552px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0px auto;
  }
}

.customers__item {
  @media screen and (max-width: 1199px) {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  @media screen and (max-width: 767px) {
    width: calc((100% - 16px) / 2);
    margin-right: 16px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 24px * 2) / 3);
    margin-right: 24px;
    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 24px * 5) / 6);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 24px;
    &:nth-child(6n) {
      margin-right: 0px;
    }
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88px;
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    color: var(--light-slate-color);
    transition: color 250ms var(--cubic), border 250ms var(--cubic);
    outline: none;
    svg {
      display: block;
      fill: currentColor;
    }
    &:hover,
    &:focus {
      border: 1px solid var(--ocean-color);
      color: var(--ocean-color);
    }
  }
}
