/*----------------------- SECTION HERO*/

.section--hero {
  max-width: 1440px;
  margin: 0 auto;
  @media screen and (max-width: 1199px) {
    padding: 112px 0px;
  }
  @media screen and (min-width: 1200px) {
    padding: 188px 0px;
  }
  @media screen and (max-width: 428px) {
    background: linear-gradient(90deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%), url('../images/hero/hero_mobil.jpg') no-repeat center/cover,
      var(--navy-blue-color);
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: linear-gradient(90deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%), url('../images/hero/hero_mobil@2x.jpg') no-repeat center/cover,
        var(--navy-blue-color);
    }
  }
  @media screen and (min-width: 429px) and (max-width: 768px) {
    background: linear-gradient(90deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%), url('../images/hero/hero_tablet.jpg') no-repeat center/cover,
      var(--navy-blue-color);
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: linear-gradient(90deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%), url('../images/hero/hero_tablet@2x.jpg') no-repeat center/cover,
        var(--navy-blue-color);
    }
  }
  @media screen and (min-width: 769px) {
    background: linear-gradient(90deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%), url('../images/hero/hero.jpg') no-repeat center/cover,
      var(--navy-blue-color);
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background: linear-gradient(90deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%), url('../images/hero/hero@2x.jpg') no-repeat center/cover,
        var(--navy-blue-color);
    }
  }
}

.section--hero .container {
  text-align: center;
}
