/*----------------------- SECTION TEAM*/

.section--team {
  background: var(--cloud-color);
}
.team {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    max-width: 264px;
    margin: -36px auto -36px auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 516px;
    margin: -32px auto -32px auto;
  }
  @media screen and (min-width: 1200px) {
    max-width: 100%;
    margin: 0px auto;
  }
}
.team__card {
  text-align: center;
  background: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  @media screen and (max-width: 767px) {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 36px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 24px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 24px) / 2);
    margin-top: 32px;
    margin-bottom: 32px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 24px * 3) / 4);
    &:nth-child(4n) {
      margin-right: 0px;
    }
  }
  .socials {
    justify-content: space-between;
  }
}
.team__card:nth-child(4n) {
  margin-right: 0px;
}
.team__card img {
  display: block;
  max-width: 100%;
}
.card-text {
  padding: 32px 16px;
}
.card-text > * {
  margin-bottom: 8px;
}
.card-text > *:last-child {
  margin-bottom: 0px;
}
